---
---

<section class="mb-8">
    <div class="mb-4">
      <h1
        class="font-extrabold text-2xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          How Did Brent Get Here?
        </span>
      </h1>
    </div>
    <div>
      <p class="mb-5">
        <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
          <li class="mb-10 ml-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2017</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">From Luxury Hospitality Into Tech</h3>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">After several years of working in hotels as a manager, I was seeking a better work-life balance. Shortly after that realization, I transitioned into a tech career in HR and Compliance Operations where I began to fully realize my love for technology while utilizing my skills in customer experience.</p>
          </li>
          <li class="mb-10 ml-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Certified Associate Project Manager & UX Design Bootcamp Certificate</h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">While trying to map out what I wanted to do next in tech, I explored UX Design through Springboard's bootcamp and simultaneously received my certification from the Project Management Institue. At work, I began taking on more complex projects in compliance and automation using tools like Google Scripts and was able to utilize my UX Design learning in crafting better experiences for our clients.</p>
          </li>
          <li class="ml-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">New Role at Real Estate Brokerage Startup Leading Projects and Developing Products</h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">Near the end of the year, I transitioned into a new role at a brokerage startup where I was wearing many hats in operations. I was managing projects of varying complexities around operations, process improvement and product development. Additionally, I was developing new products and tools with JavaScript aimed at automating manual processes while maintaining their CRM and database products.</p>
          </li>
          <li class="ml-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2022</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Continuous Learning...</h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">In order to increase the quality of my work, I began spending my free time learning new development languages and tools, refining my skillset and taking it back into the workplace while working on projects. I focused on cirriculum from places like The Odin Project and FreeCodeCamp, as well as popular creators like Brad Traversy.</p>
          </li>
          <li class="ml-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2023</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Here We Are...</h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">I am ready to fully push forward on my journey as a web developer, and am now looking for my next freelance or full-time project. I have launched this portfolio with a couple of my ongoing projects to showcase my skills. Let's connect! Shoot me an email at <a href="mailto:brent.doering@gmail.com">brent.doering@gmail.com</a>.
              </p>
          </li>
      </ol>
      </p>
    </div>
    <div class="mt-20">
        This blog was built with 
        <a
          href={"https://github.com/flexdinesh/blogster"}
          target="_blank"
        >
          Blogster</a> and
          <a
            href={"https://astro.build"}
            target="_blank"
          >
            Astro</a>.
      </div>
  </section>
  