---
---

<section class="mb-8">
    <div class="mb-4">
      <h1
        class="font-extrabold text-2xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          About Brent
        </span>
      </h1>
    </div>
    <div>
      <p class="mb-5">
        This is an about page... 
      </p>
    </div>
    <div>
        This blog was built with 
        <a
          href={"https://github.com/flexdinesh/blogster"}
          target="_blank"
        >
          Blogster</a> and
          <a
            href={"https://astro.build"}
            target="_blank"
          >
            Astro</a>.
      </div>
  </section>
  