---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Brent Doering
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer. Project Manager.</p>
  </div>
  <div>
    <p class="mb-5">
      Hi! I'm a Denver, Colorado based developer and certified project manager (CAPM) focused on creating unique and powerful experiences for users. Let's connect at <a href="mailto:brent.doering@gmail.com">brent.doering@gmail.com</a>!
    </p>
    <p class="mb-5">
      I am always learning, but am focused on technologies like HTML, CSS, JavaScript, Node.Js and MongoDB for my current projects.
    </p>
  </div>
</section>
